@model List<WebBanSach.Models.CartModel>
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="/Cart"><i class="fa fa-shopping-cart" aria-hidden="true"> (@Model.Count)</i></a>
    </li>
</ul>