
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    Mua hàng thành công.
    
</div>
<a href="/Home/Index" style="float:right;" class="btn btn-danger">Quay Lại Trang Chủ</a>
