
@{
    ViewBag.Title = "DoiTra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">Chính Sách Đổi Trả</font></h2>
<ul>
    <li>Đổi trả trong vòng 1 tuần</li>
     Sách đổi trả không được nhàu nát hay rách.
    <li>Gửi miễn phí</li>
     Miễn phí gửi hàng thông qua hơn 20.000 điểm Bưu Điện trên toàn quốc.
    <li>Cập nhật thông tin</li>
     Cập nhật liên tục từng giai đoạn xử lý qua email.
</ul>
<ol>
    <p><b>CÁC BƯỚC ĐỔI TRẢ</b></p>
    <li>Đăng kí đổi trả</li>
    Liện hệ BookStore qua hotline 0352908667 hoặc Truy cập webbansach17dtha3.cf/Home/Contact để đăng kí đổi/trả kể cả thứ 7, Chủ nhật.
    <li>Nhận tin nhắn xác nhận</li>
    Mang sản phẩm đến bưu điện và quý khách sẽ được miễn phí gửi hàng về BookStore trên 20.000 điểm Bưu Điện trên toàn quốc.
</ol>
