
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">Các câu hỏi thường gặp</font></h2>
<ul>
    <li><a href="#">Làm sao để hủy đơn hàng mới đặt trên BookStore?</a></li>
    <li><a href="#">Làm sao để cài ứng dụng BooStore Reader trên thiết bị của tôi?</a></li>
    <li><a href="#">Thời gian giao hàng dự kiến</a></li>
    <li><a href="#">Error1303 - Hết hạn ngày đọc</a></li>
    <li><a href="#">Các thiết bị nào có thể chạy được ứng dụng BookStore Reader</a></li>
</ul>

