
@{
    ViewBag.Title = "VanChuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">PHƯƠNG THỨC VẬN CHUYỂN</font></h2>
<p><font size="4">Miễn Phí Vận Chuyển</font></p>
<ul>
    <li>Áp dụng đơn hàng tại Hồ Chí Minh giá trị từ 150.000 VNĐ. Thời gian nhận hàng từ 1-3 ngày làm việc ( nội thành), 3-5 ngàylàm việc( ngoại thành) kể từ ngày có đủ sách.</li>
    <li>Áp dụng đơn hàng tại tỉnh thành khác giá trị từ 250.000 VNĐ. Thời gian nhận hàng từ 3-7 ngày làm việc theo quy định về thời gian giao hàng của bưu điện.</li>
</ul>
<p><font size="4">Giao hàng nhanh chóng và bảo đảm</font></p>
<ol>
    <li>Trách nhiệm xử lý đơn hàng và vận chuyển sản phẩm đến khách hàng do webbansach17dtha3.cf đảm nhận và phụ thuộc vào hình thức thanh toán và vận chuyển cho các sản phẩm mà khách hàng khai báo khi tạo đơn hàng.</li>
    <li>webbansach17dtha3.cf sẽ chịu trách nhiệm đảm bảo khách hàng nhận được hàng hóa đúng như đã đặt mua trong thời gian giao hàng như cam kết. Trường hợp hàng hóa bị lỗi, hư hại trong quá trình vận chuyển, BookStore sẽ chấp nhận việc đổi hàng mới cho khách.</li>
    <li>Trong trường hợp khách hàng tự ý hủy đơn hàng hoặc đơn hàng hoàn thành nhưng không giao cho khách hàng được vì lý do thông tin liên lạc không chính xác, webbansach17dtha3.cf sẽ hủy đơn hàng đó.</li>
</ol>
<p><font size="4">Giao hàng trong nước</font></p>
<ol>
    <li>Chuyển tận nơi trong nội thành TP. HCM:</li>
    Nhân viên giao hàng của BookStore sẽ giao hàng tận nơi trong TP. Hồ Chí Minh từ 1-3 ngày làm việc kể từ ngày có đủ sách.
    <li> Chuyển thường qua bưu điện:</li>
    Hàng hóa được gởi theo đường bưu điện. Với cách này, quý khách sẽ nhận được hàng trong khoảng thời gian từ 3 đến 7 ngày.
</ol>
<p><font size="4">Giao hàng quốc tế</font></p>
<ol>
    <li>Chuyển phát nhanh DHL:</li>
    Hàng hoá được vận chuyển nhanh thông qua nhà cung cấp dịch vụ DHL. Với cách gởi này, quý khách sẽ nhận được hàng tận nhà trong khoảng từ 3 đến 5 ngày.
    <li> Chuyển thường bằng máy bay:</li>
    Hàng hoá được gởi thông qua bưu điện, vận chuyển bằng máy bay. Thời gian  quý khách nhận được hàng khoảng từ 10 đến 20 ngày
</ol>