

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align: center; background-color: dodgerblue; color: white; font-size: 45px;">
        <b>Web Bán Sách 17DTHA3</b>
    </div>
    <div>
        <pre>Bạn Vui Lòng Kích Hoạt Tài Khoản Để Trở Thành Khách Hàng Của <a href="webbansach17dtha3.cf" target="_blank">webbansach17dtha3.cf</a>
            <br /><a href="@ViewBag.LinkXacNhan">Nhấn Vào Đây Để Đến Trang Kích Hoạt</a>
        </pre>
    </div>
</body>
</html>
